@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: #000;
}

.navbar h1 { 
  background: transparent;
  color: #fff;
}

.navbar .links a {
  color: #fff;
  margin: auto 15px auto 10px;
  text-decoration: none;
  padding: 5px;
}

.links a.active {
  font-weight: 600;
  color: #fff;
  border-bottom: 5px solid #ff1; 
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.links a:hover{
  border-bottom: 5px solid #ff1; 
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
}

/* body */

.main {
  width: 100%;
  background-color: #000;
  height: 90vw;
}

.inner {
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
}

/*  */

.blog-list h2.title { 
  font-size: 1.5rem;
  text-align: left;
  margin: 20px;
  border-bottom: 1px solid #000;
}

.blog-list {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-list:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.post-preview {
  text-align: left;
  padding: 10px 20px;
}

.post-preview h2{
  font-size: 1.2rem;
}

.post-preview small {
  font-size: 0.8rem;
}